<div class="loginBg">
  <div class="loginAside">
    <%= link_to "flickbin", root_path, class: "brand inLogin" %>
    <h2 class="loginTitle">Resend confirmation instructions</h2>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="labelFields">
        <%= f.label :email, 'Email Address' %>
        <%= f.email_field :email, placeholder: 'Enter your email', class: 'block' %>
        <%= f.error :email, class: 'error' %>
      </div>

      <div class="clearfix btnFromLeft">
        <%= f.submit "Resend confirmation instructions", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
