<% @tag_videos.each_with_index do |video, index| %>
  <li class="entityRow">
    <div class="entityCell thumbnailCell">
      <%= link_to video_path(video), class: "tagThumbnailLink large" do %>
        <%= image_tag(video.cover.url, alt: video.title, class: "tagThumbnail large") %>
        <span class="playerIcon displayNone"><i class="fas fa-play"></i></span>
      <% end %>
    </div>
    <% if params[:sort_by] == 'newest' %>
      <div class="entityCell paddingLeft20">
        <%= link_to video_path(video), class: "descText" do %>
          <span class="time"><%= "#{time_ago_in_words(video.created_at)} ago "%></span>
          <%= video.title %>
        <% end %>
      </div>
    <% else %>
      <div class="entityCell serialText"><%= index + 1 %></div>
      <div class="entityCell">
        <%= link_to video.title, video_path(video), class: "descText" %>
      </div>
    <% end %>
  </li>
<% end %>
