<% @tag_videos.each_with_index do |video, index| %>
  <li class="card card-video-tags">
    <div class="card-media">
      <%= link_to video_path(video), class: "tagThumbnailLink large" do %>
        <%= image_tag(video.cover.url, alt: video.title, class: "tagThumbnail large") %>
        <span class="playerIcon displayNone"><i class="fas fa-play"></i></span>
      <% end %>
      <div class="card-cover">
        <span ><img src="https://fakeimg.pl/34x34/"></span><%= link_to video.title, video_path(video), class: "descText" %>
      </div>
    </div>
    <% if params[:sort_by] == 'newest' %>
      <div class="card-body card-body-newest">
        <%= link_to video_path(video), class: "descText" do %>
          <span class="time"><%= "#{time_ago_in_words(video.created_at)} ago"%></span>
          <%= video.title %>
        <% end %>
      </div>
    <% else %>
      <div class="card-body">
        <div class="card-description">
          <%= link_to video.title, video_path(video), class: "descText" %>
        </div>
        <div class="card-info">
           <div class="card-tags">
            <div class="card-tags-id">#<%= index + 1 %></div>
            <div class="card-tags-like counter-wrapper <%= 'voted' if @current_user_voted_video_ids.include?(video.id) %>" video_slug="<%= video.slug%>" >
              <span class="icon fas fa-caret-up"></span>
              <%= number_with_delimiter(video.votes_amount) %>
            </div>
            <%= link_to video_path(video, anchor: 'message'), class: 'card-tags-comment' do %>
              <span class="icon fas fa-comment-alt"></span>
              <%= video.comments_count %>
            <% end %>
           </div>
          <div class="card-posted">posted by
            <span>
              <%= link_to "#{video.user.channel_name} (#{video.user.rank.positive? ? video.user.rank : 0})", station_path(video.user) %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </li>
<% end %>


