<%# @tag_videos.each_with_index do |video, index| %>
<!--  <li class="entityRow">-->
<!--    <div class="entityCell thumbnailCell">-->
      <%#= link_to video_path(video), class: "tagThumbnailLink large" do %>
        <%#= image_tag(video.cover.url, alt: video.title, class: "tagThumbnail large") %>
<!--        <span class="playerIcon displayNone"><i class="fas fa-play"></i></span>-->
      <%# end %>
<!--    </div>-->
    <%# if params[:sort_by] == 'newest' %>
<!--      <div class="entityCell paddingLeft20">-->
        <%#= link_to video_path(video), class: "descText" do %>
<!--          <span class="time"><%#= "#{time_ago_in_words(video.created_at)} ago"%></span>-->
          <%#= video.title %>
        <%# end %>
<!--      </div>-->
    <%# else %>
<!--      <div class="entityCell">-->
<!--        <div class="entityCell-wrap">-->
          <%#= link_to video.title, video_path(video), class: "descText" %>

<!--          <div class="serialText"><%#= index + 1 %></div>-->
<!--        </div>-->
<!--      </div>-->
    <%# end %>
<!--  </li>-->
<%# end %>


<% @tag_videos.each_with_index do |video, index| %>
  <li class="card card-video-tags">
    <div class="card-media">
      <%= link_to video_path(video), class: "tagThumbnailLink large" do %>
        <%= image_tag(video.cover.url, alt: video.title, class: "tagThumbnail large") %>
        <span class="playerIcon displayNone"><i class="fas fa-play"></i></span>
      <% end %>
      <div class="card-cover">
        <span ><img src="https://fakeimg.pl/34x34/"></span><%= link_to video.title, video_path(video), class: "descText" %>
      </div>
    </div>
    <% if params[:sort_by] == 'newest' %>
      <div class="card-body card-body-newest">
        <%= link_to video_path(video), class: "descText" do %>
          <span class="time"><%= "#{time_ago_in_words(video.created_at)} ago"%></span>
          <%= video.title %>
        <% end %>
      </div>
    <% else %>
      <div class="card-body">
        <div class="card-description">
          <%= link_to video.title, video_path(video), class: "descText" %>
        </div>
        <div class="card-info">
           <div class="card-tags">
             <div class="card-tags-id">#<%= index + 1 %></div>
             <div class="card-tags-like"><span class="icon fas fa-caret-up"></span> 63</div>
             <div class="card-tags-comment"><span class="icon fas fa-comment-alt"></span> 9</div>
           </div>
          <div class="card-posted">posted by <span>matt (1,567)</span></div>
        </div>
      </div>
    <% end %>
  </li>
<% end %>


