<div class="wrapper">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel leftPanel-videoPost leftPanel-videoPost-active">
    <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
    </button>

    <%= link_to "flickbin", root_path, class: "brand" %>
    <%= render 'partials/trending_tags_bar' %>
  </aside>
  <div class="container-video-post">
    <div class="card card-video-post card-video-post-added">
      <div class="card-media">
        <div class="tagThumbnailLink large">
          <img class="tagThumbnail large" src="<%= @video.cover.url.to_s %>">
          <div class="card-media-cover"><span class="icon-check"></span></div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-title">
          <%= "Posting YouTube Video in #{@video.tag.title} " %>
        </div>
        <div class="card-description">
          <%= @video.title %>
        </div>
      </div>
    </div>

    <section class="section-video-post section-flashNotification">
      <div class="section-heading">
        <div class="flashNotification-checked"><span class="icon-check icon"></span></div>
        <h2 class="title">
          Your Post is Now Live!
        </h2>
        <p class="description">You post is now live on station. You can
          <%if @video.slug?%>
            <%= link_to 'check it out here.', video_path(@video), class: "link" %>
          <%end%>
        </p>
        <%= link_to 'POST ANOTHER VIDEO', videos_new_path, id: "flashButton", class: "button-video-flash"%>
      </div>
    </section>
  </div>
</div>
