<% if flash[:notice].present? %>
  <div class="flashNotification">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="wrapper scroll">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel">
    <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
    </button>

    <%= link_to "flickbin", root_path, class: "brand" %>
    <%= render 'partials/trending_tags_bar' %>
  </aside>

  <section class="contentPanel">
    <div class="centerContent">
      <div class="postTopLine">
        <a href="#" class="commentorThumb size68">
          <%= image_tag(current_user.avatar.thumb_128x128.url || '/images/avatar_holder_large.jpg', alt: "User Name") %>
        </a>
        <%= "Post a Video to #{current_user.channel_name}" %>
        <span>Follow the two easy steps below and start sharing</span>
      </div>
      <%= simple_form_for(@video, url: create_video_path, html: {autocomplete: 'off'}) do |f| %>
        <div class="labelFields hasNumberInside videoUrlField <%= 'errorMsg' if @video.errors.present? %>">
          <%= f.label :url, 'Enter Any Youtube URL' %>
          <span class="ovalShape">1</span>
          <% if @existing_video.present? %>
            <span class="errorIcon"><i class="fas fa-exclamation"></i></span>
            <div class="validationContent largeTooltip">Oops, <%= link_to 'this video', video_path(@existing_video) %> has already been posted in the <%= link_to @existing_video.tag.title, tag_path(@existing_video.tag) %> tag. <br />Try a different tag or you’ll be able to post it here in <%= @existing_video.remaining_days %> days.</div>
          <% elsif @invalid_video_url.present? %>
            <span class="errorIcon"><i class="fas fa-exclamation"></i></span>
            <div class="validationContent largeTooltip">
              Oops, try a YouTube link instead.
            </div>
          <% end %>
          <%= f.text_field :url, class: "block hasNumber", placeholder: 'https://www.youtube.com/watch?v=ABuQA13l-229' %>
        </div>
        <div class="labelFields hasNumberInside postVideoLastField tagNameField">
          <%= f.label :tag_name, 'Select One Tag' %>
          <span class="ovalShape">2</span>
          <div class="dropdownItemListOuter" style="display: none;">
            <ul class="dropdownItemList"></ul>
            <div class="createTagBtnHolder"></div>
          </div>
          <span class="errorIcon"><i class="fas fa-exclamation"></i></span>
          <div class="validationContent largeTooltip">You can use only letters & numbers</div>
          <span class="rightNumber"></span>
          <%= f.text_field :tag_name, maxlength: AppConstants::MAX_TAG_TITLE_LENGTH,
                                      placeholder: 'Add and Existing Tag or Create a New One',
                                      class: "block hasNumber" %>
          <%= f.hidden_field :tag_id %>
        </div>
        <div class="clearfix">
          <%= f.submit 'Post Video', id: 'post_video', class: "btn large fRight widthMore", disabled: "disabled" %>
        </div>
      <% end %>
    </div>
  </section>
</div>

<%= javascript_include_tag('specific_by_templates/new_video') %>
