<div class="wrapper">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel leftPanel-videoPost">
    <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
    </button>
    <%= link_to "flickbin", root_path, class: "brand" %>
    <%= render 'partials/trending_tags_bar' %>
  </aside>
  <div class="container-video-post">
    <div class="card-video-post-wrapper">
      <div class="card card-video-post"></div>
    </div>
    <%= simple_form_for(@video, url: create_video_path(anchor: 'second_step'), html: {autocomplete: 'off'}) do |f| %>
      <% if @second_step.blank? %>
        <section class="section-video-post section-video-post-first background-video-post">
          <div class="section-background"></div>
      <% else %>
        <section class="section-video-post section-video-post-first">
          <div class="section-background animation-bg"></div>
      <% end %>
        <div class="section-foreground">
          <div class="section-heading">
            <div class="numbering">1</div>
            <h2 class="title">
              To Post a Video, First Enter a URL
            </h2>
            <p class="description">by pasting a web address from one of these websites</p>
          </div>
          <div class="section-body">
            <ul class="video-players-list">
              <li class="list-item" data-media="youtube"><i class="fab fa-youtube"></i></li>
              <!--<li class="list-item" data-media="facebook"><i class="icon icon-facebook-official"></i></li> -->
              <li class="list-item" data-media="twitch"><i class="fab fa-twitch"></i></li>
              <li class="list-item" data-media="dailymotion"><span class="icon icon-dailymotion"></span></li>
            </ul>
            <% if @second_step.present? %>
              <div class="labelFields hasNumberInside videoUrlField labelFieldsChecked">
            <% elsif @video.errors.present? %>
              <div class="labelFields hasNumberInside videoUrlField errorMsg">
            <% else %>
              <div class="labelFields hasNumberInside videoUrlField">
            <% end %>
              <%= f.label :url, 'Enter Web Address Here' %>
              <span class="ovalShape">1</span>
              <span class="ovalShape ovalShapeCheked icon-check"></span>
              <% if @invalid_video_url.present? %>
                <span class="errorIcon"><i class="fas fa-exclamation"></i></span>
                <div class="validationContent largeTooltip">
                  <%= @video.errors.messages[:invalid_url].first %>
                </div>
              <% end %>
              <%= f.text_field :url, class: "block hasNumber", placeholder: 'https://www.youtube.com/watch?v=ABuQA13l29' %>
              <a href="#video-scroll" id="nextstep" class="button-video button-video-nextstep disabled"  >NEXT STEP</a>
            </div>
            <div class="section-hint">
              Now add a topic so people can find your video!
              <div class="icon icon-chevron-down"></div>
            </div>
          </div>
        </div>
      </section>

      <% if @second_step.present? %>
        <section id="second_step" class="section-video-post section-video-post-secondary background-video-post">
          <div class="section-background animation-bg-reverse"></div>
      <% else %>
        <section id="video-scroll" class="section-video-post section-video-post-secondary">
          <div class="section-background"></div>
      <% end %>
        <div class="section-foreground">
          <div class="section-heading">
            <div class="numbering">2</div>
            <h2 class="title">
              Select a Topic for Your Post
            </h2>
            <p class="description">Tip: Topics are kind of like categories to help people find your post.</p>
          </div>
          <div class="section-body">
            <div class="labelFields hasNumberInside tagNameField labelFieldsDisabled <%= 'errorMsg' if @existing_video.present? %>">
              <%= f.label :tag_name, 'Select One Topic' %>
              <span class="ovalShape">2</span>
              <div class="dropdownItemListOuter" style="display: none;">
                <ul class="dropdownItemList"></ul>
                <div class="createTagBtnHolder"></div>
              </div>
              <% if @existing_video.present? %>
                <span class="errorIcon"><i class="fas fa-exclamation"></i></span>
                <div class="validationContent largeTooltip">
                  <%= @invalid_source_id %>
                </div>
              <% end %>
              <span class="rightNumber"></span>
              <%= f.text_field :tag_name, maxlength: AppConstants::MAX_TAG_TITLE_LENGTH,
                               placeholder: 'Add an Existing Topic or Create a New One',
                               class: "block hasNumber" %>
              <%= f.hidden_field :tag_id %>

            </div>
            <%= f.submit 'Post Video', id: 'post_video', class: "button-video button-video-post disabled", disabled: "disabled"%>

          </div>
        </div>
      </section>
  <% end %>
  </div>
</div>

<%= javascript_include_tag('specific_by_templates/new_video') %>
