<div class="wrapper">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel scroll">
    <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
    </button>

    <%= link_to "Birdy", root_path, class: "brand" %>
    <% if current_user.present? %>
      <div class="clearfix hideOnDesktop mobileBtnPosition">
        <%= render 'partials/logged_in_right_header' %>
      </div>
    <% else %>
      <div class="clearfix btnGroup hideOnDesktop mobileBtnPosition">
        <%= render 'partials/right_header' %>
      </div>
    <% end %>

    <%= render 'partials/trending_tags_bar' %>
  </aside>

  <section class="contentPanel comments scroll">
    <section class="videoTop">
      <div class="clearfix bottom-margin-15">
        <% if current_user.present? %>
          <div class="upDownOptions clearfix" voted="<%= @vote&.value %>" channelSlug="<%= @video_owner.slug %>">
            <span class="counterOption upVote"><i class="fas fa-caret-up"></i></span>
            <span class="counterNumber counterValueHolder"><%= @video_owner.rank %></span>
            <span class="counterOption downVote"><i class="fas fa-caret-down"></i></span>
          </div>

          <div class="afterLoginBtns reverseThemeHoler afterLoginReverseBtn fRight hideOnMobile">
            <%= render 'partials/logged_in_right_header' %>
          </div>
        <% else %>
          <div class="upDownOptions clearfix" channelSlug="<%= @video_owner.slug %>">
            <span class="counterOption upVote" loginRequired='true'><i class="fas fa-caret-up"></i></span>
            <span class="counterNumber counterValueHolder"><%= @video_owner.rank %></span>
            <span class="counterOption downVote" loginRequired='true'><i class="fas fa-caret-down"></i></span>
          </div>

          <div class="clearfix btnGroup btnReverseTheme fRight hideOnMobile">
            <%= render 'partials/right_header' %>
          </div>
        <% end %>

        <div class="videoTopDesc" videoSlug="<%= @video.slug %>">
          <div class="videoTopDescCell"><%= @video.title %></div>
        </div>
      </div>
      <div class="videoViewManager">
        <div class="videoViewManagerInside">
          <div class='embed-container'>
            <iframe src="https://www.youtube.com/embed/<%= @video.youtube_id %>" frameborder='0' allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <div class="underneathPlayer clearfix">
      <span>
        <a href="#">#<%= @video.rank %></a> in <%= link_to @tag.title, tag_path(@tag) %>
      </span>
      <span>submitted by <%= link_to @video_owner.channel_name, station_path(@video_owner) %></span>
    </div>

    <div class="commentSection">
      <h4 class="commentTitle">How does this video make you feel?</h4>
      <div class="labelFields vidioFieldOuter">
        <%= text_field_tag :message, nil, placeholder: 'Enter your comment', class: "block noInsideLabel" %>
      </div>

      <div class="comments-feed">
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <div class="commentEntity">
              <%= link_to station_path(comment.commentator), class: 'commentorThumb' do %>
                <%= image_tag(comment.commentator.avatar.thumb_44x44.url || '/images/avatar_holder.jpg') %>
              <% end %>
              <div class="commentorLine clearfix">
                <%= link_to comment.commentator.channel_name, station_path(comment.commentator) %>
                <span>&bull;</span>
                <small><%= "#{time_ago_in_words(comment.created_at)} ago" %></small>
              </div>
              <p><%= comment.message %></p>
              <div class="commentReplyOption">
                <a href="#" class="replyComment">Reply</a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </section>
</div>

<%= javascript_include_tag('specific_by_templates/specific_video') %>
