<div class="wrapper scroll">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel">
    <div>
      <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
        <span class="offCanvasBar">&nbsp;</span>
        <span class="offCanvasBar">&nbsp;</span>
        <span class="offCanvasBar">&nbsp;</span>
      </button>

      <%= link_to "flickbin", root_path, class: "brand" %>
      <% if current_user.present? %>
        <div class="clearfix hideOnDesktop mobileBtnPosition">
          <%= render 'partials/logged_in_right_header' %>
        </div>
      <% end %>

      <%= render 'partials/trending_tags_bar' %>
    </div>

  </aside>
  <div class="jq-dropdown-mobile jq-dropdown-medium push-left jq-dropdown-anchor-right">
    <div class="jq-dropdown-panel jq-dropdown-panel-medium">
      <div class="dropdown-menu notifications dropdown-menu-medium"></div>
    </div>
  </div>
  <section class="videoContentPanel specificVideo comments">
    <div class="videoOnboarding displayNone">
      <div class="closeVideoOnboarding">
        <a href="#" class="closeOnboardLink">&times;</a>
      </div>
      <div class="vidOnboardContent">
        <div class="vidOnboardFlickbear">
          <%= image_tag("/images/flickBearOnboarding.png", alt: 'flickbear') %>
        </div>
        <p><span>Welcome!</span> flickbin is a collection of the best videos from around the web, submitted, organized and ranked by our community.</p>
      </div>
    </div>
    <section class="videoTop">
      <% unless Rails.env.production? %>
        <div class='technical_info'>
          <span class="technical_info_item counterValueHolder">
            <%= "Sum of Upvotes and Downvotes for all time = #{@video.positive_votes_amount + @video.negative_votes_amount}" %>
          </span>
          <span class="technical_info_item counterValueHolder">
            <%= "Upvotes for all time = #{@video.positive_votes_amount}" %>
          </span>
          <span class="technical_info_item counterValueHolder">
            <%= "Downvotes for all time = #{@video.negative_votes_amount}" %>
          </span>
          <span class="technical_info_item counterValueHolder">
            <%= "Upvotes in the last hour = #{@last_hour_upvotes}" %>
          </span>
        </div>
      <% end %>
      <div class="videoInfoControls-wrapper bottom-margin-20">
        <% if current_user.present? %>
          <div class="videoInfoControls">
            <div class="upDownOptions clearfix" voted="<%= @vote&.value %>" channelSlug="<%= @video_owner.slug %>">
              <div id='voting_button' class="counter-wrapper <%= 'voted' if @vote&.value&.positive? %>">
                <span class="counterNumber counterValueHolder">
                  <%= number_with_delimiter(@video.votes_amount) %>
                </span>
                <span class="counterOption upVote"><span class="icon icon-arrow_drop_up"></span></span>
                <%# if @video.votes_amount.zero? %>
                <!--                <span class="counterOption downVote inactiveDownVote <%#= 'voted' if @vote&.value&.negative? %>">-->
                <!--                  <i class="fas fa-caret-down"></i>-->
                <!--                </span>-->
                <%# else %>
                <!--                <span class="counterOption downVote <%#= 'voted' if @vote&.value&.negative? %>">-->
                <!--                  <i class="fas fa-caret-down"></i>-->
                <!--                </span>-->
                <%# end %>
              </div>
            </div>
            <div>
              <div class="videoTopSource">
                <%= "via #{@video.source.capitalize.gsub('_', '')}" %>
              </div>
              <div class="videoTopDesc" videoSlug="<%= @video.slug %>">
                <%= @video.title %>
              </div>
            </div>
          </div>
          <div class="afterLoginBtns reverseThemeHoler afterLoginReverseBtn fRight hideOnMobile">
            <%= render 'partials/logged_in_right_header' %>
          </div>
        <% else %>
          <div class="videoInfoControls">
            <div id='voting_button' class="upDownOptions clearfix" channelSlug="<%= @video_owner.slug %>">
              <div class="counter-wrapper" loginRequired='true'>
                <span class="counterOption upVote"><span class="icon icon-arrow_drop_up"></span></span>
                <span class="counterNumber counterValueHolder"><%= @video.votes_amount %></span>
                <% if @video.votes_amount.zero? %>
                  <!--                <span class="counterOption downVote inactiveDownVote">-->
                  <!--                  <i class="fas fa-caret-down"></i>-->
                  <!--                </span>-->
                <% else %>
                  <!--                <span class="counterOption downVote">-->
                  <!--                  <i class="fas fa-caret-down"></i>-->
                  <!--                </span>-->
                <% end %>
              </div>
            </div>
            <div class="videoTopDesc" videoSlug="<%= @video.slug %>">
              <%= @video.title %>
            </div>
          </div>
          <div class="clearfix btnGroup btnReverseTheme fRight hideOnMobile">
            <%= render 'partials/right_header' %>
          </div>
        <% end %>
      </div>
      <div class="videoViewManager">
        <div class='embed-container'>
          <% if @video.source == 'youtube' %>
            <%= render 'videos/partials/youtube_player' %>
          <% elsif @video.source == 'facebook' %>
            <%= render 'videos/partials/facebook_player' %>
          <% elsif @video.source == 'twitch' %>
            <%= render 'videos/partials/twitch_player' %>
          <% elsif @video.source == 'daily_motion' %>
            <%= render 'videos/partials/daily_motion_player' %>
          <% end %>
        </div>
      </div>
    </section>
    <div class="underneathPlayer clearfix">
      <span class="tagRankCount">
        <%= 'Reached ' if @video.untagged %>#<%= @video.rank %> in <%= link_to @tag.title, tag_path(@tag) %>
      </span>
      <span class="submittedBy">submitted by <%= link_to @video_owner.channel_name, station_path(@video_owner) %></span>
    </div>

    <div class="commentSection" current_user_id="<%= current_user&.id %>">
      <h4 class="commentTitle">Discuss with the Community</h4>
      <div class="labelFields vidioFieldOuter">
        <% if current_user.present? %>
          <%= text_area_tag :message, nil, placeholder: 'Enter comment', class: "block noInsideLabel autoresize", row: '1' %>
        <% else %>
          <%= text_area_tag :message, nil, placeholder: 'Enter comment', loginRequired: true, class: "block noInsideLabel autoresize", row: '1' %>
        <% end %>
        <a class="btn btn-primary" id="message-button" href="#">POST COMMENT</a>
      </div>

      <div class="comments-feed">
        <% if @comments_tree.present? %>
          <% @comments_tree.each do |root_comment_node|%>
            <% root_comment_node.each do |root_comment, child_comments| %>
              <div id="comment_<%= root_comment.id %>" class="commentEntity <%='hasNestedComment' if child_comments.present? %>" comment_id="<%= root_comment.id %>">
                <%= link_to station_path(root_comment.commentator), class: 'commentorThumb' do %>
                  <%= image_tag(root_comment.commentator.avatar.thumb_44x44.url || '/images/avatar_holder.jpg') %>
                <% end %>
                <div class="commentorLine clearfix">
                  <%= link_to root_comment.commentator.channel_name, station_path(root_comment.commentator) %>
                  <span>&bull;</span>
                  <small><%= "#{time_ago_in_words(root_comment.created_at)} ago" %></small>
                </div>
                <p><%= root_comment.message %></p>
                <div class="commentReplyOption">
                  <a href="#" class="replyComment">Reply</a>
                </div>
              </div>
              <% if child_comments.present? %>
                <% child_comments.each do |child_comment, grand_child| %>
                  <div id="comment_<%= child_comment.id %>" class="commentEntity" comment_id="<%= child_comment.id %>">
                    <div class="nestedComment nestedCommented">
                      <%= link_to station_path(child_comment.commentator), class: 'commentorThumb' do %>
                        <%= image_tag(child_comment.commentator.avatar.thumb_44x44.url || '/images/avatar_holder.jpg') %>
                      <% end %>
                      <div class="commentorLine clearfix">
                        <%= link_to child_comment.commentator.channel_name, station_path(child_comment.commentator) %>
                        <span>&bull;</span>
                        <small><%= "#{time_ago_in_words(child_comment.created_at)} ago" %></small>
                      </div>
                      <p><%= child_comment.message %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <div class='blankComments'>
            <span>This video doesn't have any comments.</span>
          </div>
        <% end %>
      </div>
  </section>
</div>

<%= javascript_include_tag('specific_by_templates/specific_video') %>
