<% if flash[:notice].present? %>
  <div class="flashNotification">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:notice].to_s == I18n.t('devise.registrations.signed_up_but_unconfirmed') %>
  <div class='flashNotification'>
    Click
    <%= link_to 'resend confirmation', new_confirmation_path(:user) %>
    if didn't receive confirmation instructions
  </div>
<% end %>

<div class="wrapper">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel scroll">
    <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
    </button>

    <%= link_to "Birdy", root_path, class: "brand" %>
    <% if current_user.present? %>
      <div class="clearfix hideOnDesktop mobileBtnPosition">
        <%= render 'partials/logged_in_right_header' %>
      </div>
    <% else %>
      <div class="clearfix btnGroup hideOnDesktop mobileBtnPosition">
        <%= render 'partials/right_header' %>
      </div>
    <% end %>

    <%= render 'partials/trending_tags_bar' %>
  </aside>

  <section class="contentPanel scroll">
    <% if current_user.present? %>
      <div class="clearfix bottom-margin-40 mobileThemeBtn hideOnMobile">
        <%= render 'partials/logged_in_right_header' %>
      </div>
    <% else %>
      <div class="clearfix btnGroup hideOnMobile">
        <%= render 'partials/right_header' %>
      </div>
    <% end %>

    <div class="row video-feed">
      <% if @top_1_tag.present? %>
        <div id="<%= @top_1_tag.id %>" class="colHalf colTitle clearfix mobileColBottom left_tag">
          <div class="clearfix bottom-margin-15">
            <span class="sideTitle"><%= @top_1_tag.title %></span>
            <%= link_to 'SEE ALL', tag_path(@top_1_tag), class: "seeAllLink" %>
          </div>

          <ul class="entityList">
            <% @top_1_tag.top_10_videos.each_with_index do |top_video, index| %>
              <li class="entityRow">
                <div class="entityCell thumbnailCell">
                  <%= link_to video_path(top_video), class: "thumbnail" do %>
                    <%= image_tag(top_video.cover.url, alt: top_video.title, class: "thumbnail") %>
                    <span class="playerIcon"><i class="fas fa-play"></i></span>
                  <% end %>
                </div>
                <div class="entityCell serialText"><%= index + 1 %></div>
                <div class="entityCell">
                  <%= link_to top_video.title, video_path(top_video), class: "descText" %>
                </div>
              </li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if @top_2_tag.present? %>
        <div id="<%= @top_2_tag.id %>" class="colHalf clearfix right_tag">
          <div class="clearfix bottom-margin-15">
              <span class="sideTitle"><%= @top_2_tag.title %></span>
              <%= link_to 'SEE ALL', tag_path(@top_2_tag), class: "seeAllLink" %>
          </div>

          <ul class="entityList top_2_tag">
            <% @top_2_tag.top_10_videos.each_with_index do |top_video, index| %>
              <li class="entityRow">
                <div class="entityCell thumbnailCell">
                  <%= link_to video_path(top_video), class: "thumbnail" do %>
                    <%= image_tag(top_video.cover.url, alt: top_video.title, class: "thumbnail") %>
                    <span class="playerIcon"><i class="fas fa-play"></i></span>
                  <% end %>
                </div>
                <div class="entityCell serialText"><%= index + 1 %></div>
                <div class="entityCell">
                  <%= link_to top_video.title, video_path(top_video), class: "descText" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </section>
</div>

<%= javascript_include_tag('specific_by_templates/home') %>
