<div class="wrapper scroll">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel">
    <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
    </button>
    <%= link_to "flickbin", root_path, class: "brand" %>
    <% if current_user.present? %>
      <div class="clearfix hideOnDesktop mobileBtnPosition">
        <%= render 'partials/logged_in_right_header' %>
      </div>
    <% end %>

    <%= render 'partials/trending_tags_bar' %>
  </aside>
  <div class="jq-dropdown-mobile jq-dropdown-medium push-left jq-dropdown-anchor-right">
    <div class="jq-dropdown-panel jq-dropdown-panel-medium">
      <div class="dropdown-menu notifications dropdown-menu-medium"></div>
    </div>
  </div>
  <section class="container-tags leftSpace36 tag ">
    <% if current_user.present? %>
      <div class="clearfix bottom-margin-20 mobileThemeBtn hideOnMobile">
        <span class="sideTitleTagSpecific titleSpecific titleSpecificMargin" slug="<%= @tag.slug %>"><!--<span class="icon icon-playlist_add"></span>--><%= @tag.title %></span>
        <%= render 'partials/logged_in_right_header' %>
      </div>
    <% else %>
      <div class="clearfix btnGroup btnGroupSpecific hideOnMobile">
        <span class="sideTitleTagSpecific titleSpecific titleSpecificMargin" slug="<%= @tag.slug %>"><!--<span class="icon icon-playlist_add"></span>--><%= @tag.title %></span>
        <%= render 'partials/right_header' %>
      </div>
    <% end %>
    <div class="battleFeatured">
      <div>
        <span class="icon-featured"><svg height="1em" viewBox="0 0 464 464" width="1em"  fill="#31B4B0" xmlns="http://www.w3.org/2000/svg"><path d="m224 416h16v16h-16zm0 0"/><path d="m256 416h16v16h-16zm0 0"/><path d="m192 416h16v16h-16zm0 0"/><path d="m83.3125 296 12.6875-12.6875 84.6875 84.6875-12.6875 12.6875zm0 0"/><path d="m39.992188 408.003906 40-40 16 15.996094-40 40zm0 0"/><path d="m75.308594 335.996094 12.6875-12.6875 52.6875 52.6875-12.6875 12.6875zm0 0"/><path d="m3.3125 408-3.3125 3.3125v9.375l43.3125 43.3125h9.375l3.3125-3.3125v-9.375l-43.3125-43.3125zm0 0"/><path d="m221.265625 170.824219-152.839844-170.824219h-57.113281l174.34375 174.34375-11.3125 11.3125-174.34375-174.34375v57.113281l173.769531 155.484375zm0 0"/><path d="m367.996094 384.003906 16-16 39.996094 40-15.996094 15.996094zm0 0"/><path d="m451.3125 408-43.3125 43.3125v9.375l3.3125 3.3125h9.375l43.3125-43.3125v-9.375l-3.3125-3.3125zm0 0"/><path d="m289.65625 185.65625-11.3125-11.3125 174.34375-174.34375h-57.113281l-264.566407 295.695312 12.992188 12.992188 122.34375-122.34375 11.3125 11.3125-122.34375 122.34375 12.992188 12.992188 295.695312-264.566407v-57.113281zm0 0"/><path d="m323.308594 376.003906 52.6875-52.6875 12.6875 12.6875-52.6875 52.6875zm0 0"/><path d="m244 286.734375 51.695312 46.257813 12.992188-12.992188-48.101562-48.105469zm0 0"/><path d="m283.3125 368 84.6875-84.6875 12.6875 12.6875-84.6875 84.6875zm0 0"/><path d="m332.992188 295.695312-44.015626-49.199218-16.449218 14.71875 47.472656 47.472656zm0 0"/><path d="m232 121.585938 22.382812-33.585938-22.382812-33.574219-22.382812 33.574219zm0 0"/><path d="m190.941406 9.765625 14.78125-6.121094 12.25 29.570313-14.78125 6.125zm0 0"/><path d="m147.636719 61.707031 6.121093-14.78125 29.574219 12.25-6.125 14.78125zm0 0"/><path d="m280.660156 59.1875 29.570313-12.253906 6.125 14.78125-29.570313 12.253906zm0 0"/><path d="m246.03125 33.210938 12.253906-29.570313 14.78125 6.125-12.253906 29.570313zm0 0"/></svg></span>
        Vote for the best <%= @tag.title %> contributor in the
        <a href="#">Creator Battle</a>
      </div>
    </div>
    <% if @top_3_contribution_points.present? %>
      <div class="topContributorHeadline">
        <span>Top <%= "contributor".pluralize(@top_3_contribution_points.size) %> in <%= @tag.title %></span>
      </div>
      <% if Rails.env.development? || Rails.env.staging? %>
        <div class="topContributorHeadline">
          <span> (Display only for staging) Comments count = <%= @tag.comments.size %></span>
        </div>
      <% end %>
      <div class="topContributorWrapper">
        <ul class="contributorList clearfix">
          <% @top_3_contribution_points.each_with_index do |cp, index| %>
            <li class="contributorLineItem">
              <div class="topContributorRank">
                <span><%= index + 1 %></span>
              </div>
              <div class="topContributorAvatar">
                <%= image_tag(cp.user.avatar.thumb_128x128.url || '/images/avatar_holder_large.jpg') %>
              </div>
              <span class="topContributorStation">
                <%= link_to "(#{cp.user.rank}) #{cp.user.channel_name}", station_path(cp.user) %>
              </span>
            </li>
          <% end %>
        </ul>
        <div class="wannaBeFeatured">
          <p>
            <%= image_tag("/images/flickBearOnboarding.png", alt: 'flickbear', class: 'flickBearWannaBeFeatured') %>
            <span>Wanna be featured at the top of this topic?</span>
            <%= link_to 'Post Some Videos!', videos_new_path %>
          </p>
        </div>
      </div>
    <% end %>
    <div class="tagSpecificWrapper">
      <% if @tag_videos.present? %>
        <div class="tagHeadingBottomGap">
          <span class="sideTitleTagSpecific titleSpecific hideOnDesktop" slug="<%= @tag.slug %>"><!-- <span class="subscribe-tag"><span class="icon icon-playlist_add"></span></span> <span class="subscribe-tag unfollow"><span class="icon icon-check"></span></span> --><%= @tag.title %></span>
          <ul class="pillNav clearfix">
            <li><%= link_to 'top charts', tag_path(@tag), sort_by: 'top_charts', class: "top_charts filter", remote: true %></li>
            <li> <%= link_to 'newest', tag_path(@tag), sort_by: 'newest', class: "filter" %></li>
          </ul>
        </div>


        <ul class="entityList inTag specificTagList tagListHasNumber video-feed" video_ids="<%= @current_user_voted_video_ids %>">
          <%= render 'tags/partials/videos_feed' %>
        </ul>
      <% else %>
        <div class='blankVideos'>
          <span>
            This tag is empty. Be the first to <%= link_to 'post a video', videos_new_path %>!
          </span>
        </div>
      <% end %>
    </div>
  </section>
</div>

<%= javascript_include_tag('specific_by_templates/specific_tag') %>
