<div class="wrapper scroll">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel">
    <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
      <span class="offCanvasBar">&nbsp;</span>
    </button>

    <%= link_to "flickbin", root_path, class: "brand" %>
    <% if current_user.present? %>
      <div class="clearfix hideOnDesktop mobileBtnPosition">
        <%= render 'partials/logged_in_right_header' %>
      </div>
    <% else %>
      <div class="clearfix btnGroup hideOnDesktop mobileBtnPosition">
        <%= render 'partials/right_header' %>
      </div>
    <% end %>

    <%= render 'partials/trending_tags_bar' %>
  </aside>

  <section class="contentPanel leftSpace36 tag">
    <% if current_user.present? %>
      <div class="clearfix bottom-margin-40 mobileThemeBtn hideOnMobile">
        <%= render 'partials/logged_in_right_header' %>
      </div>
    <% else %>
      <div class="clearfix btnGroup btnGroupSpecific hideOnMobile">
        <%= render 'partials/right_header' %>
      </div>
    <% end %>

    <div class="tagSpecificWrapper">
      <div class="clearfix tagHeadingBottomGap">
        <span class="sideTitle titleSpecific" slug="<%= @tag.slug %>"><%= @tag.title %></span>

        <ul class="pillNav clearfix">
          <li>sort by</li>
          <li><%= link_to 'top charts', tag_path(@tag, sort_by: :top_charts), filter: 'top_charts', class: "top_charts filter", remote: true %></li>
          <li> <%= link_to 'newest', tag_path(@tag, sort_by: :newest), filter: 'newest', class: "filter", remote: true %></li>
        </ul>
      </div>
      <ul class="entityList inTag specificTagList tagListHasNumber video-feed">
        <%= render 'tags/partials/videos_feed' %>
      </ul>
    </div>
  </section>
</div>

<%= javascript_include_tag('specific_by_templates/specific_tag') %>
