<% if flash[:notice].present? %>
  <div class="flashNotification">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="wrapper wrapper-battle scroll">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel">
    <%= link_to "flickbin", root_path, class: "brand" %>
    <%= render 'partials/trending_tags_bar' %>
  </aside>
  <div class="rightPanel">
    <section class="section-hero">
      <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
        <span class="offCanvasBar">&nbsp;</span>
        <span class="offCanvasBar">&nbsp;</span>
        <span class="offCanvasBar">&nbsp;</span>
      </button>
      <% if current_user.blank? %>
        <%= link_to "Sign Up for flickbin!", new_user_registration_path, class: "btn btn-battle btn-battle-position hideOnMobile" %>
      <% end %>
      <div class="heading-hero">
        <h1 class="heading-title">
          <%= battle_heading_title %>
        </h1>
        <p class="heading-subtitle">
          <span>The creator with the</span> most votes <span>wins.</span> Choose your favorite.
        </p>
      </div>
    </section>
    <section class="section-countdown">
      <h2 class="heading-countdown">
        This Battle Ends In
      </h2>
      <%
        # Anton Tkachov. We don't have seconds in our timer, therefore last minute will be cut
        # I bring back this minute by adding it to the expiration time
      %>
      <div class="uk-countdown uk-countdown-battle " uk-countdown="date: <%= battle_final_date %>">
        <div>
          <div class="uk-countdown-number uk-countdown-days"></div>
          <div class="uk-countdown-label">Days</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
          <div class="uk-countdown-number uk-countdown-hours"></div>
          <div class="uk-countdown-label">Hours</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
          <div class="uk-countdown-number uk-countdown-minutes"></div>
          <div class="uk-countdown-label ">Minutes</div>
        </div>
      </div>
    </section>
    <section class="section-fight" data-battle="<%= battle_id %>">

      <div class="layout-fight">
        <div class="layout-item">
            <%= image_tag('/images/Bitmap.png', class: 'decore-image', style: 'visibility:hidden;') %>
        </div>
        <div class="layout-item layout-grow layout-flex">
          <div class="layout-fight-secondary">
            <% [
                 'first_members',
                 'second_members'
               ].each_with_index do |current_member, index| %>
              <div class="layout-item layout-grow">
                <div class="card-fight <%= 'card-fight-winner' if battle_winner?(current_member) %>">
                  <div class="card-header">
                    <div class="card-title"><%= battles_name_for(current_member) %></div>
                    <a href="https://twitter.com/<%= battles_twitter_account_name_for(current_member) %>" class="card-twitter" target='_blank' <%= "uk-tooltip=#{battles_twitter_account_name_for(current_member)}" if battles_twitter_account_name_for(current_member).length > 12 %>>
                      @<%= battles_twitter_account_name_for(current_member) %>
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-image">
                      <div>
                        <%= image_tag(battles_photo_for(current_member)) %>
                      </div>
                    </div>
                    <a href="#" class="card-vote
                                       <%= 'card-vote-used' if battle_live? && already_voted_any? %>
                                       <%= 'card-vote-disabled' if battle_finished? || [battles_name_for(current_member), nil].exclude?(@voted_member_name) %>"
                                data-member="<%= index + 1 %>" data-name="<%= battles_name_for(current_member) %>">
                      <%= battles_voices_for(current_member) %>
                      <% if battle_live? && !already_voted_any?%>
                        <span class="icon icon-arrow_drop_up"></span>
                      <% end %>
                    </a>
                    <% if battle_live? %>
                      <div class="card-vote-description" >
                        <%if already_voted_any? %>
                          You've voted for <%=@voted_member_name%>.
                          You can vote again in
                          <div class='card-vote-countdown' uk-countdown="date:<%= (@already_voted.last.updated_at + 1.day).to_formatted_s(:iso8601) %>">
                            <div>
                                <div class='uk-countdown-number uk-countdown-hours'></div>
                            </div>
                            <div class='uk-countdown-separator'>:</div>
                            <div>
                                <div class='uk-countdown-number uk-countdown-minutes'></div>
                            </div>
                          </div>
                        <% else %>
                          Vote for <%= battles_name_for(current_member) %>
                        <% end %>
                      </div>
                    <% end %>
                    <div class="card-vote-winner">
                      Winner
                    </div>
                  </div>
                </div>
              </div>
              <% if current_member == 'first_members' %>
                <div class="layout-item layout-divider">
                  <div class="text-divider">
                    <span>VS.</span>
                  </div>
                  <a href="#" class="divider-button
                                     <%= 'hidden' if battle_live? %>
                                     <%= 'divider-button-disabled' if battle_finished? && @rematch_request_sent %>">
                    <%= @rematch_request_sent ? "Rematch Requested" : "Request a Rematch" %>
                  </a>
                </div>
              <% end %>
            <% end %>
          </div>
          <a href="#" class="divider-button-mobile
                             <%= 'hidden' if battle_live? %>
                             <%= 'divider-button-disabled' if battle_finished? && @rematch_request_sent %>">
            <%= @rematch_request_sent ? "Rematch Requested" : "Request a Rematch" %>
          </a>
        </div>
        <div class="layout-item">
          <%= image_tag('/images/Bitmap1.png', class: 'decore-image-secondary', style: 'visibility:hidden;') %>
        </div>
      </div>
    </section>
    <section class="section-tweets <%= 'hidden' if battle_finished? && @user_without_votes %>">
      <div class="layout-tweets">
        <% ['first_members', 'second_members'].each do |current_member| %>
          <div class="layout-item
                      fan-tweet
                      <%= 'hidden' if battle_finished? %>">
            <div class="card-tweets">
              <div class="card-header">
                <div class="card-image">
                  <%= image_tag(battles_photo_for(current_member)) %>
                  <span class="icon fab fa-twitter"></span>
                </div>
                <div class="card-title">
                  Spread the Word
                </div>
                <div class="card-description">
                  Fans of <b><%= battles_name_for(current_member) %></b>, Tweet This.
                </div>
              </div>
              <div class="card-body">
                <div class="form-tweets">
                  <label class="form-control">
                    <span class="icon fab fa-twitter"></span>
                    <div class="textarea-wrapper">
                      <span class="textarea-tip"></span>
                      <textarea class="textarea">The Creator battle round is happening now between @<%= battles_twitter_account_name_for('first_members') %> and @<%= battles_twitter_account_name_for('second_members') %> on Flickbin. Go vote for @<%= battles_twitter_account_name_for(current_member) %> now before it’s too late!</textarea>
                    </div>
                  </label>
                  <a class="form-button" href="#">Send Tweet</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="layout-item
                    winner-tweet
                    <%= 'hidden' if battle_live? || battle_draw? %>">
          <div class="card-tweets">
            <div class="card-header">
              <div class="card-image">
                <%= image_tag(battles_photo_for('winner_member') || '') %>
                <span class="icon fab fa-twitter"></span>
              </div>
              <div class="card-title">
                Spread the Word
              </div>
            </div>
            <div class="card-body">
              <div class="form-tweets">
                <label class="form-control">
                  <span class="icon fab fa-twitter"></span>
                  <div class="textarea-wrapper">
                    <span class="textarea-tip"></span>
                    <textarea class="textarea">Congratulations to @<%= battles_twitter_account_name_for('winner_members') %> for winning the Flickbin creator battle against @<%= battles_twitter_account_name_for('loser_members') %>. The final vote count <%= battles_voices_for('winner_members') %> to <%= battles_voices_for('loser_members') %> in favor of @<%= battles_twitter_account_name_for('winner_members') %>.</textarea>
                  </div>
                </label>
                <a class="form-button" href="#">Send Tweet</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-trending">
      <div class="container-trending">
        <h2>
          Trending Now in
          <%= link_to(@battle.tag.title.capitalize, @battle.tag) %>
        </h2>
        <div class="tagSpecificWrapper">
          <ul class="entityList inTag specificTagList tagListHasNumber video-feed grid-trending" video_ids="<%= @current_user_voted_video_ids %>">
            <%= render 'tags/partials/videos_feed' %>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<%= javascript_include_tag('specific_by_templates/battle') %>
