<% if flash[:notice].present? %>
  <div class="flashNotification">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="wrapper wrapper-battle scroll">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel">
    <%= link_to "flickbin", root_path, class: "brand" %>
    <%= render 'partials/trending_tags_bar' %>
  </aside>
  <div class="rightPanel">
    <section class="section-hero">
      <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
        <span class="offCanvasBar">&nbsp;</span>
        <span class="offCanvasBar">&nbsp;</span>
        <span class="offCanvasBar">&nbsp;</span>
      </button>
      <% if current_user.blank? %>
        <%= link_to "Sign Up for flickbin!", new_user_registration_path, class: "btn btn-battle btn-battle-position hideOnMobile" %>
      <% end %>
      <div class="heading-hero">
        <h1 class="heading-title">
          CREATOR BATTLE
        </h1>
        <p class="heading-subtitle">
          <span>The creator with the</span> most votes <span>wins.</span> Choose your favorite.
        </p>
      </div>
    </section>
    <section class="section-countdown">
      <h2 class="heading-countdown">
        This Battle Ends In
      </h2>
      <%
        # Anton Tkachov. We don't have seconds in our timer, therefore last minute will be cut
        # I bring back this minute by adding it to the expiration time
      %>
      <div class="uk-countdown uk-countdown-battle " uk-countdown="date: <%= (@battle.final_date + 1.minute).to_formatted_s(:iso8601)%>">
        <div>
          <div class="uk-countdown-number uk-countdown-days"></div>
          <div class="uk-countdown-label">Days</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
          <div class="uk-countdown-number uk-countdown-hours"></div>
          <div class="uk-countdown-label">Hours</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
          <div class="uk-countdown-number uk-countdown-minutes"></div>
          <div class="uk-countdown-label ">Minutes</div>
        </div>
      </div>
    </section>
    <section class="section-fight" data-battle="<%= @battle.id %>">

      <div class="layout-fight">
        <div class="layout-item">
            <%= image_tag('/images/Bitmap.png', class: 'decore-image', style: 'visibility:hidden;') %>
        </div>
        <div class="layout-item layout-grow layout-flex">
          <div class="layout-fight-secondary">
            <% {
                 @battle.first_member => @battle.first_member_votes,
                 @battle.second_member => @battle.second_member_votes
               }.each_with_index do |(current_member, current_voices), index| %>
              <div class="layout-item layout-grow">
                <div class="card-fight <%= 'card-fight-winner' if @battle.winner == current_member.name %>">
                  <div class="card-header">
                    <div class="card-title"><%= current_member.name %></div>
                    <a href="https://twitter.com/<%= current_member.twitter_account_name %>" class="card-twitter" target='_blank'>
                      @<%= current_member.twitter_account_name %>
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-image">
                      <div>
                        <%= image_tag(current_member.photo) %>
                      </div>
                    </div>
                    <a href="#" class="card-vote
                                       <%= 'card-vote-used' if @battle.live? && @already_voted.any? %>
                                       <%= 'card-vote-disabled' if @battle.finished? || [current_member.name, nil].exclude?(@voted_member_name) %>"
                                data-member="<%= index + 1 %>" data-name="<%=current_member.name%>">
                      <%= current_voices %>
                      <% if @battle.live? && @already_voted.empty?%>
                        <span class="icon icon-arrow_drop_up"></span>
                      <% end %>
                    </a>
                    <% if @battle.live? %>
                      <div class="card-vote-description" >
                        <%if @already_voted.any? %>
                          You've voted for <%=@voted_member_name%>.
                          You can vote again in
                          <div class='card-vote-countdown' uk-countdown="date:<%= (@already_voted.last.updated_at + 1.day).to_formatted_s(:iso8601) %>">
                            <div>
                                <div class='uk-countdown-number uk-countdown-hours'></div>
                            </div>
                            <div class='uk-countdown-separator'>:</div>
                            <div>
                                <div class='uk-countdown-number uk-countdown-minutes'></div>
                            </div>
                          </div>
                        <% else %>
                          Vote for <%= current_member.name %>
                        <% end %>
                      </div>
                    <% end %>
                    <div class="card-vote-winner">
                      Winner
                    </div>
                  </div>
                </div>
              </div>
              <% if current_member == @battle.first_member %>
                <div class="layout-item layout-divider">
                  <div class="text-divider">
                    <span>VS.</span>
                  </div>
                  <a href="#" class="divider-button
                                     <%= 'hidden' if @battle.live? %>
                                     <%= 'divider-button-disabled' if @battle.finished? && @rematch_request_sent %>">
                    <%= @rematch_request_sent ? "Rematch Requested" : "Request a Rematch" %>
                  </a>
                </div>
              <% end %>
            <% end %>
          </div>
          <a href="#" class="divider-button-mobile
                             <%= 'hidden' if @battle.live? %>
                             <%= 'divider-button-disabled' if @battle.finished? && @rematch_request_sent %>">
            <%= @rematch_request_sent ? "Rematch Requested" : "Request a Rematch" %>
          </a>
        </div>
        <div class="layout-item">
          <%= image_tag('/images/Bitmap1.png', class: 'decore-image-secondary', style: 'visibility:hidden;') %>
        </div>
      </div>
    </section>
    <section class="section-tweets <%= 'hidden' if @battle.finished? && @user_without_votes %>">
      <div class="layout-tweets">
        <% [@battle.first_member, @battle.second_member].each do |current_member| %>
          <div class="layout-item
                      fan-tweet
                      <%= 'hidden' if @battle.finished? %>">
            <div class="card-tweets">
              <div class="card-header">
                <div class="card-image">
                  <%= image_tag(current_member.photo) %>
                  <span class="icon fab fa-twitter"></span>
                </div>
                <div class="card-title">
                  Spread the Word
                </div>
                <div class="card-description">
                  Fans of <b><%= current_member.name %></b>, Tweet This.
                </div>
              </div>
              <div class="card-body">
                <div class="form-tweets">
                  <label class="form-control">
                    <span class="icon fab fa-twitter"></span>
                    <div class="textarea-wrapper">
                      <span class="textarea-tip"></span>
                      <textarea class="textarea">The Creator battle round is happening now between @<%= @battle.first_member.twitter_account_name %> and @<%= @battle.second_member.twitter_account_name %> on Flickbin. Go vote for @<%= current_member.twitter_account_name %> now before it’s too late!</textarea>
                    </div>
                  </label>
                  <a class="form-button" href="#">Send Tweet</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="layout-item
                    winner-tweet
                    <%= 'hidden' if @battle.live? || @battle.winner == 'draw' %>">
          <div class="card-tweets">
            <div class="card-header">
              <div class="card-image">
                <%= image_tag(@battle.winner_member.try(:photo) || '') %>
                <span class="icon fab fa-twitter"></span>
              </div>
              <div class="card-title">
                Spread the Word
              </div>
            </div>
            <div class="card-body">
              <div class="form-tweets">
                <label class="form-control">
                  <span class="icon fab fa-twitter"></span>
                  <div class="textarea-wrapper">
                    <span class="textarea-tip"></span>
                    <textarea class="textarea">Congratulations to @<%= @battle.winner_member.try(:twitter_account_name) %> for winning the Flickbin creator battle against @<%= @battle.loser_member.try(:twitter_account_name) %>. The final vote count <%= @battle.winner_votes %> to <%= @battle.loser_votes %> in favor of @<%= @battle.winner_member.try(:twitter_account_name) %>.</textarea>
                  </div>
                </label>
                <a class="form-button" href="#">Send Tweet</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-trending">
      <div class="container-trending">
        <h1>
          Trending Now in
          <%= link_to(@battle.tag.title.capitalize, @battle.tag) %>
        </h1>
        <div class="tagSpecificWrapper">
          <ul class="entityList inTag specificTagList tagListHasNumber video-feed grid-trending" video_ids="<%= @current_user_voted_video_ids %>">
            <%= render 'tags/partials/videos_feed' %>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<%= javascript_include_tag('specific_by_templates/battle') %>
