<% if flash[:notice].present? %>
  <div class="flashNotification">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="wrapper">
  <div class="offCanvasMask"></div>
  <aside class="leftPanel scroll">
      <button type="button" class="offCanvasBtn offCanvasBtnStyle hideOnDesktop">
        <span class="offCanvasBar">&nbsp;</span>
        <span class="offCanvasBar">&nbsp;</span>
        <span class="offCanvasBar">&nbsp;</span>
      </button>

      <%= link_to "Birdy", root_path, class: "brand" %>

      <!-- show button in mobile -->
      <div class="clearfix hideOnDesktop mobileBtnPosition">
        <ul class="afterLoginBtns reverseThemeHoler">
          <li>
            <span class="addCircle dblBorder edit">
              <i class="fas fa-pen"></i>
            </span>
          </li>
        </ul>
      </div>
      <!-- end mobile btn -->

      <%= render 'partials/trending_tags_bar' %>
  </aside>

  <section class="contentPanel scroll">
    <div class="redTopBox redBoxInProfile">
      <div class="clearfix topBtnBottomGap hideOnMobile">
        <ul class="afterLoginBtns reverseThemeHoler">
          <li>
            <span class="addCircle dblBorder edit">
              <i class="fas fa-pen"></i>
            </span>
          </li>
        </ul>
      </div>

      <div class="redBoxInsideContent">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="row">
            <div class="colHalf">
              <div class="labelFields">
                <%= f.label :email, 'Email Address' %>
                <%= f.email_field :email, class: 'block grayNormal' %>
                <%= f.error :email %>
              </div>
            </div>
            <div class="colHalf">
              <div class="labelFields">
                <%= f.label :channel_name %>
                <%= f.text_field :channel_name, class: 'block grayNormal' %>
                <%= f.error :channel_name %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="colHalf">
              <div class="labelFields">
                <%= f.label :password, 'New password' %>
                <%= f.password_field :password, class: 'block grayNormal' %>
                <%= f.error :password %>
              </div>
            </div>
            <div class="colHalf">
              <div class="labelFields">
                <%= f.label :password_confirmation, 'Confirm new password' %>
                <%= f.password_field :password_confirmation, class: 'block grayNormal' %>
                <%= f.error :password_confirmation %>
              </div>
            </div>
          </div>
          <div class="labelFields lastFieldInProfile">
            <%= f.label :channel_description %>
            <span class="rightNumber"></span>
            <%= f.text_field :channel_description, maxlength: AppConstants::MAX_CHANNEL_DESCRIPTION_LENGTH, class: "block hasRightNumber grayNormal" %>
            <%= f.error :channel_description %>
          </div>
          <div class="clearfix btnGroup btnGroupNoReverse">
            <%= f.submit "Update Info", class: "btn medium border2x strong noMargin" %>
            <%= link_to "Cancel", station_path(current_user), class: "btn medium strong noBorder colorNoBg" %>
          </div>
        <% end %>
      </div>
    </div>

    <ul class="entityList inTag tagNewest stationList video-feed" channel_slug="<%= current_user.slug %>">
      <% @user_videos.each do |video| %>
        <li class="entityRow" slug="<%= video.slug %>">
          <div class="entityCell thumbnailCell">
            <%= link_to video_path(video), class: "thumbnail large" do %>
              <%= image_tag(video.cover.url, alt: video.title, class: "thumbnail large") %>
              <span class="playerIcon"><i class="fas fa-play"></i></span>
            <% end %>
          </div>
          <div class="entityCell cellSpace24">&nbsp;</div>
          <div class="entityCell hasRemover">
            <span class="postTime">
              <%= "#{time_ago_in_words(video.created_at)} in "%>
              <%= link_to video.tag.title, tag_path(video.tag) %>
            </span>
            <%= link_to video.title, video_path(video), class: "descText" %>
            <div class="removerBar" id="<%= video.id %>">
              <span class="removerBarTrack">Are you sure?
                <%= link_to 'Yes', video_path(video), method: :delete, remote: true %>
                <a href="#" class="rejectDestroyVideo">No</a>
              </span>
              <a href="#" class="removeIcon">&times;</a>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
</div>

<%= javascript_include_tag('specific_by_templates/station') %>
