<h2>Edit <%= resource_name.to_s.humanize %></h2>

<% if flash[:notice].present? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :email, 'Email Address' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.error :email %>
  </div>

  <div class="field">
    <%= f.label :channel_name %><br />
    <%= f.text_field :channel_name %><br />
    <%= f.error :channel_name %>
  </div>

  <div class="field">
    <%= f.label :password, 'New password' %><br />
    <%= f.password_field :password, autocomplete: "new-password" %><br />
    <%= f.error :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirm new password' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <%= f.error :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :channel_description %><br />
    <%= f.text_field :channel_description %><br />
    <%= f.error :channel_description %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
    <%= link_to "Cancel", show_station_path(current_user) %>
  </div>
<% end %>
