<% content_for :meta_title, 'Birdy - Login' %>
<% content_for :meta_description, 'Birdy - Login' %>
<% content_for :meta_keywords, 'Birdy - Login' %>

<div class="loginBg">
  <div class="loginAside">
    <%= link_to "Birdy", root_path, class: "brand inLogin bottomMargin50" %>
    <h2 class="loginTitle bottomMargin50">Sign up and start curating.
      <span>Start showing the world your favorite videos.</span>
    </h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="labelFields">
        <%= f.label :channel_name %>
        <%= f.text_field :channel_name, placeholder: 'Enter your channel name', class: 'block' %>
        <%= f.error :channel_name %>
      </div>
      <div class="labelFields">
        <%= f.label :email, 'Email Address' %>
        <%= f.email_field :email, placeholder: 'Enter your email', class: 'block' %>
        <%= f.error :email, class: 'error' %>
      </div>
      <div class="labelFields bottomMargin50">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Enter your password', class: 'block' %>
        <%= f.error :password, class: 'error' %>
      </div>

      <div class="clearfix btnFromLeft">
        <%= f.submit "Sign up", class: 'btn' %>
        <%= link_to "Log in", new_user_session_path, class: 'btn btnSecondary' %>
        <%= link_to "Forgot Password?", new_user_password_path, class: "forgotLinks fRight" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag('specific_by_templates/sign_up') %>
